/* Sections */
  body {
    background-color: white;
  }

/* Text */
  h1 {
    color: black;
    text-align: center;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 0px;
    margin-top: 100px;
  }

  h2 {
    color: grey;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #links {
    color: grey;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

/* Divs */
/* #div_viz */
  a {
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  p {
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #div_viz {
    display: table;
    margin: auto;
    height: 1000px;
    width: 80%;
    background-color: orange;
    border-radius: 50%; 
  }

  #div_exomap {
    display: table-cell;
    margin: auto;
  }

  #div_energy {
    display: table-cell;
    margin: auto;
  }

  img {
    display: flex;
    border: 5px solid #555;
    border-radius: 50%; 
    height: 200px;
    width: 200px;
    margin: 7% auto auto auto;
  }

  img:hover {
    transform: scaleX(-1);
  }

/* #div_research */
  
#div_research {
  display: table;
  margin: auto;
  height: 1000px;
  width: 80%;
  background-color: lightskyblue;
  border-radius: 50%; 
}

  
  /*
  https://www.color-hex.com/color-palette/41821 
  https://colorhunt.co/palette/54bab918978fe9dac1f7ecde
  https://colorhunt.co/palette/005555069a8ea1e3d8f7ff93
  https://colorhunt.co/palette/009dae71dfe7c2fff9ffe652
  box-shadow: 0px 0px 0px 0px #ff6969 inset;
  */